/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
}

.logo span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.logo span:nth-child(1) span {
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
}

.logo span:nth-child(2) {
  display: inline-block;
  font-family: 'Croissant One', cursive;
  font-size: 1.5rem;
  color: #ddd;
  letter-spacing: .1rem;
  text-align: right;
  transform: translate(2.2rem, -1rem);
}

.logo span {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Nav Items */
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Dropdown 1*/
.dropdown-1 {
  position: absolute;
  top: 4.9rem;
  left: -24rem;
  background-color: #fff;
  width: 96rem;
  height: 60rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  padding: 2rem;
}

.dropdown-1-left {
  width: 30%;
  padding-right: 4rem;
}

.dropdown-1-right {
  width: 70%;
  padding-left: 2rem;
}

.dropdown-1-left h3, .dropdown-1-right h3{
font-family: 'Mooli', cursive;
font-size: 1.8rem;
color: #8698a7;
padding-bottom: 1rem;
margin-bottom: 3rem;
border-bottom: .2rem solid rgba(134, 152, 167, 0.5);
}

.features-list-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.features-list-item i {
  font-size: 2rem;
  width: 4rem;
  color: #8698a7;
  transition: color 0.3s;
}

.features-list-item span {
  font-size: 1.8rem;
  color: #8698a7;
  transition: color 0.3s;
}

.features-list-item:hover i, .features-list-item:hover span {
 color: #222;
}

.dropdown-services {
  height: 45rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-service {
  display:  flex;
  align-items: center;
  margin-bottom: 3.5rem;
  cursor: pointer;
}

.dropdown-service i {
  width: 5.5rem;
  height: 5.5rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  align-items: center;
  font-size: 2.5rem;
  color: #fff;

  transition: transform 0.3s;
}

.dropdown-service:hover i {
  transform: scale(1.1);
}

.dropdown-service:nth-child(1) i {
  background: linear-gradient(to right, #b150f1, #7e23da);
  box-shadow: 0 .5rem 2rem rgba(126, 35, 218, 0.3);
}

.dropdown-service:nth-child(2) i {
  background: linear-gradient(to right, #31dca1, #23d683);
  box-shadow: 0 .5rem 2rem rgba(35, 214, 131, 0.3);
}

.dropdown-service:nth-child(3) i {
  background: linear-gradient(to right, #3f51ec, #2d2dcf);
  box-shadow: 0 .5rem 2rem rgba(45, 45, 207, 0.3);
}

.dropdown-service:nth-child(4) i {
  background: linear-gradient(to right, #00d3e0, #03b4d8);
  box-shadow: 0 .5rem 2rem rgba(3, 180, 216, 0.3);
}

.dropdown-service:nth-child(5) i {
  background: linear-gradient(to right, #ff9625, #fa751c);
  box-shadow: 0 .5rem 2rem rgba(250, 117, 28, 0.3);
}

.dropdown-service:nth-child(6) i {
  background: linear-gradient(to right, #3293ff, #2371ff);
  box-shadow: 0 .5rem 2rem rgba(35, 113, 255, 0.3);
}

.dropdown-service:nth-child(7) i {
  background: linear-gradient(to right, #282c35, #20252c);
  box-shadow: 0 .5rem 2rem rgba(32, 37, 44, 0.3);
}

.dropdown-service-item {
  display: flex;
  flex-direction: column;
}

.dropdown-service-item span {
  font-size: 1.6rem;
}

.dropdown-service-item span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.dropdown-service:nth-child(1) .dropdown-service-item span:nth-child(1) {
  color: #b150f1;
}

.dropdown-service:nth-child(2) .dropdown-service-item span:nth-child(1) {
  color: #31dca1;
}

.dropdown-service:nth-child(3) .dropdown-service-item span:nth-child(1) {
  color: #3f51ec;
}

.dropdown-service:nth-child(4) .dropdown-service-item span:nth-child(1) {
  color: #00d3e0;
}

.dropdown-service:nth-child(5) .dropdown-service-item span:nth-child(1) {
  color: #ff9626;
}

.dropdown-service:nth-child(6) .dropdown-service-item span:nth-child(1) {
  color: #3293ff;
}

.dropdown-service:nth-child(7) .dropdown-service-item span:nth-child(1) {
  color: #282c28;
}

.dropdown-service-item span:nth-child(2) {
  font-weight: 300;
  color: #6a6f72;
}

.dropdown-1-right button {
  width: 100%;
  height: 4rem;
  background-color: #3776ff;
  border: none;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1rem;
  cursor: pointer;
}

.nav-btn {
  width: 13rem;
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #f8834f;
  text-transform: uppercase;
  transition: transform 0.3s;
}

.nav-btn:hover {
  transform: translateY(-.2rem);
}
/* Banner */
.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  font-family: "Mooli",cursive;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(to right, #aa3fec, #8430ea);
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.banner button:hover {
  transform: translateY(-.2rem);
}
/* Backgrounds */
.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(to left, transparent, #4400c5, #4400ab);
  top: -95%;
  left: -10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.9;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 60%, #ff26ac, #f724db);
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 70%, #ca5995, #fe945a);
  top: -60%;
  right: 10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  opacity: 0.4;
  box-shadow: 7rem 4rem 6rem rgba(0, 0, 0, 0.9);
}
