/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
}

.logo span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.logo span:nth-child(1) span {
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
}

.logo span:nth-child(2) {
  display: inline-block;
  font-family: 'Croissant One', cursive;
  font-size: 1.5rem;
  color: #ddd;
  letter-spacing: .1rem;
  text-align: right;
  transform: translate(2.2rem, -1rem);
}

.logo span {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Nav Items */
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-items {
  list-style: none;
  align-items: center;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.nav-btn {
  width: 13rem;
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #f8834f;
  text-transform: uppercase;
  transition: transform 0.3s;
}

.nav-btn:hover {
  transform: translateY(-.2rem);
}
/* Banner */
.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  font-family: "Mooli",cursive;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(to right, #aa3fec, #8430ea);
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.banner button:hover {
  transform: translateY(-.2rem);
}
/* Backgrounds */
.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(to left, transparent, #4400c5, #4400ab);
  top: -95%;
  left: -10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.9;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 60%, #ff26ac, #f724db);
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 70%, #ca5995, #fe945a);
  top: -60%;
  right: 10%;
  transform: rotateZ(-15deg)skew(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  opacity: 0.4;
  box-shadow: 7rem 4rem 6rem rgba(0, 0, 0, 0.9);
}
